@charset "utf-8";

.content {
    width: 95%;
    min-height: 100px;
    
    margin: 25px auto;
    
    box-shadow: 0 0 3px #8B8B8B;

    background: #F8F8F8;
}

.content-header h1 {
    padding: 20px 0 10px 25px;
    
    font-family: 'Source Code Pro', monospace;
    font-size: 40px;
}

.explanation {
    width: 100%;
    min-height: 100px;
    
    padding-bottom: 15px;
    
    border-top: 1px solid #ddd;
    
    background: #eeeeee;
}

.explanation h2 {
    padding: 10px 0 10px 25px;
    font-family: 'Source Code Pro', monospace;
    font-size: 32px;
}

.explanation .desc p {
    padding-left: 25px;
    
    font-family: 'Source Code Pro', monospace;
    font-size: 16px;
}

.code-example {
    width: 80%;
    
    margin-top: 10px;
    margin-left: 25px;
}