@charset "utf-8";

body {
    display: flex;
    justify-content: center;
}

.container {
    width: 100%;
    min-height: 100vh;
    
    background: #FFFFFF;
    
    display: grid;
    grid-template-columns: 1.15fr 4fr;
    grid-template-rows: 100px auto;
    grid-template-areas:
        "header header"
        "nav main-content";
}

/* HEADER STYLING */

.page-header {
    grid-area: header;
    
    z-index: 10;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    box-shadow: 0 0 5px black;
    
    background: #1995AD;
}

.page-header h1 {
    color: #342009;
    font-family: 'Source Code Pro', monospace;
    font-size: 64px;
}

/* NAV STYLING */

.page-nav {
    grid-area: nav;
    
    z-index: 9;
    
    width: 100%;
    height: auto;
    
    box-shadow: 0 0 5px black;
    
    background: #A1D6E2;
}

.nav-header {
    background: #58A6B7;
}

.nav-header h1 {
    padding: 15px 0 15px 0;
    
    color: #342009;
    font-family: 'Source Code Pro', monospace;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.link-list {
    width: 100%;
    height: auto;
}

.link-holder {
    width: 100%;
    height: 40px;
}

.link {
    display: block;
    
    width: calc(100% - 30px);
    height: 100%;
    
    padding-left: 30px;
    
    background: #A1D6E2;
    
    color: #342009;
    font-family: 'Source Code Pro', monospace;
    font-size: 24px;
    line-height: 40px;
    text-decoration: none;
    
    transition: all .15s;
}

.cl:hover {
    width: calc(100% - 40px);
    padding-left: 40px;
    
    background: #ACE1ED;
}

.link-header-container {
    width: 100%;
    
    margin-top: 20px;
    margin-bottom: 5px;
    
    color: #342009;
    font-size: 24px;
    font-family: 'Source Code Pro', monospace;
    text-align: center;
    text-decoration: underline;
    
    background: #A1D6E2;
}

.main-content {
    grid-area: main-content;
}

/*
 * GLOBAL CLASSES & IDS
 */

.active {
    width: 100%;
    padding-left: 0;
    text-align: center;
    background: #8BCBD9;
}

#bttb {
    display: none;
    width: 50px;
    height: 50px;
    
    position: fixed;
    bottom: 0;
    right: 25px;
    
    border: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
    color: #4D4D4D;
    font-size: 24px;
    
    background: #141212;
    
    cursor: pointer;
    outline: none;
    
    z-index: 999;
}

#bttb:hover {
    background: #242020;
}