@charset "utf-8";

body {
    display: flex;
    justify-content: center;
}

.container {
    width: 100%;
    min-height: 100vh;
    
    background: #FFFFFF;
    
    display: grid;
    grid-template-columns: 1.15fr 4fr;
    grid-template-rows: 100px auto;
    grid-template-areas:
        "header header"
        "nav main-content";
}

/* HEADER STYLING */

.page-header {
    grid-area: header;
    
    z-index: 10;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    box-shadow: 0 0 5px black;
    
    background: #EA202C;
}

.page-header h1 {
    color: #342009;
    font-family: 'Source Code Pro', monospace;
    font-size: 64px;
}

/* NAV STYLING */

.page-nav {
    grid-area: nav;
    
    z-index: 9;
    
    width: 100%;
    height: auto;
    
    box-shadow: 0 0 5px black;
    
    background: #F7D4D6;
}

.nav-header {
    background: #F2B2B5;
}

.nav-header h1 {
    padding: 15px 0 15px 0;
    
    color: #342009;
    font-family: 'Source Code Pro', monospace;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.link-list {
    width: 100%;
    height: auto;
}

.link-holder {
    width: 100%;
    height: 40px;
}

.link {
    display: block;
    
    width: calc(100% - 30px);
    height: 100%;
    
    padding-left: 30px;
    
    background: #F7D4D6;
    
    color: #342009;
    font-family: 'Source Code Pro', monospace;
    font-size: 24px;
    line-height: 40px;
    text-decoration: none;
    
    transition: all .15s;
}

.cl:hover {
    width: calc(100% - 40px);
    padding-left: 40px;
    
    background: #F8C4C7;
}

.link-header-container {
    width: 100%;
    
    margin-top: 20px;
    margin-bottom: 5px;
    
    color: #342009;
    font-size: 24px;
    font-family: 'Source Code Pro', monospace;
    text-align: center;
    text-decoration: underline;
    
    background: #F7D4D6;
}

.main-content {
    grid-area: main-content;
}

/*
 * GLOBAL CLASSES
 */

.active {
    width: 100%;
    padding-left: 0;
    text-align: center;
    background: #F8C4C7;
}